body{
  background: #ffa31a;
}
.topnav a {
  text-decoration: none;
}

.topnav a:hover{
  background-color: #ffff1a;
}

.topnav .active {
  background-color: #e6e600;
  color: black;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  font-size: 1em;
  padding: 8px;
  border-style: solid;
  border-width: 0 0 2px 0;
  font-weight:lighter;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr{background-color: #f2f2f2;}

.add {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
}

.ordbut {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  margin: 2% auto;
  width: 150px;
}

.left {
  width: 60%;
  float: left;
  padding: 10px;
}
.right {
  width: 40%;
  float: right;
}

.b-left {
  margin: 0;
  position: relative;
  float: left;
  width: 50%;
  text-align: center;
}

.b-right {
  margin: 0;
  position: relative;
  float: left;
  width: 50%;
  text-align: center;
}

.main {
  position: fixed;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  background: none;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

.t-cust{
  width: 100%;
  height: 100%;
  max-height: 40%;
  background: #f2f2f2;
  overflow-y: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.t-cust::-webkit-scrollbar { 
  width: 0 !important 
}

.t-foot {
  width: 100%;
  height: 5%;
  padding: 0 2%;
  border-bottom: 2px solid black;
  background-color: #f2f2f2; 
}

.t-but {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10%;
}

.b-order {
  font-size: 1.2em;
  color: black;
  background-color: green;
  border-radius: 3px;
  border: none;
  text-align: center;
  padding: 1% 3%;
  margin: 0 15%;
}

.OnSpot {
  width: 50%;
  margin: 0;
  color:black;
  background-color: #ffd699;
  font-size: 1.2em;
  border-radius: 3px;
  padding: 1% 3%;
  border: none;
}

.PayMaya {
  width: 50%;
  margin: 0;
  color:black;
  background-color: #0099cc;
  font-size: 1.2em;
  border-radius: 3px;
  padding: 1% 3%;
  border: none;
}

.label {
  background-color: white;
  position: relative;
  font-size: 1.5em;
  color: black;
  width: 50%;
  height: 5%;
  padding: auto 0;
  float: left;
  text-align: left;
  text-transform: uppercase;
}

.amount {
  background-color: yellow;
  position: relative;
  font-size: 1.5em;
  color: black;
  padding: auto 0;
  width: 50%;
  height: 5%;
  float: left;
  text-align: right;  
  text-transform: uppercase;
}

.t-cust th {
  width: 17%;
}

.t-title {
  width: 100%;
}

.t-title th {
  width: 18%;
}

#custname {
  width: 28%;
}

.title {
  height: auto;
  margin-bottom: 2%;
}

.title h1{
  margin: 0;
}

.search {
  width: 80%;
} 

/* The Close Button */
.close {
  padding: 2%;
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 10px;
  background-color: #ffd11a;
  color: black;
  text-align: left;
}
.modal-header h2 {
  font-size: 1.5em;

}
/* Modal Body */
#Fbody{
  padding: 0;
}

#addfood {
  margin: 0;
  height: 100%;
  width: 100%;
  position: fixed;
}

#viewfood {
  margin: 0;
  height: auto;
  width: 100%;
  position: fixed;
}

#myviewfood {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 1px 16px;
  background-color: #ffe680;
  color: black;
}

.t-order {
  width: 100%;
  height: auto;
}

.order{
  background: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 70%;
  overflow-y: auto;
  overflow: -moz-scrollbars-none; 
  -ms-overflow-style: none;
}

.order::-webkit-scrollbar { 
  width: 0 !important 
}

.t-order th {
  color: black;
  width: 30%;
}

.order th {
  color: black;
  width: 30%;
}


.order tr > th > a {
  color:black;
  text-decoration: none;
}

.order tr > th > a:hover {
  color:black;
}

/* Modal Content */
.modal-content {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: auto; /* Full width */
  height: auto; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #fefefe;
  margin: 15% auto;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-backdrop {
  z-index: -1;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.reg input{
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
}
.submit {
  margin-top: 5%;
  font-weight: bold;
  font-size: 1em;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  background-color: #4CAF50;
}

.delete {
  margin-top: 5%;
  font-weight: bold;
  font-size: 1em;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  background-color: red;
}
.no-delete {
  margin-top: 5% !important;
  font-weight: bold !important;
  font-size: 1em !important;
  border-radius: 5px !important;
  border: none !important;
  padding: 10px 40px !important;
  background-color: #e0dede !important;
}

.save {
  margin-top: 5%;
  font-weight: bold;
  font-size: 1em;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  background-color: blue;
}

.menu {
  border: none;
}

.menu tr{
  background-color: white;
}

.Fpick{
  width: 100%;
  background: none;
  color: black;
  border: none;
  text-transform: uppercase;
}

.menu tr > th > a {
  text-decoration: none;
}

.menu tr > th > a:hover {
  color:black;
}

.foodPIC {
  width: 50%;
  height: auto;
  margin: 3%;
}

.req{
  width: 80%;
  margin: 1%;
}

#foodqty{
  height: 80%;
}

.qtyFOOD{
  height: 100%;
  background: black;
}

/*-------------------- BUTTON INCREMENTS -----------------------*/

.quantity {
 display: inline-block; }

.quantity .input-text.qty {
 width: 35px;
 height: 39px;
 padding: 0 5px;
 text-align: center;
 background-color: transparent;
 border: 1px solid #efefef;
}

.quantity.buttons_added {
 text-align: center;
 position: relative;
 white-space: nowrap;
 vertical-align: top; }

.quantity.buttons_added input {
 display: inline-block;
 margin: 0;
 vertical-align: top;
 box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
 padding: 7px 10px 8px;
 height: 41px;
 cursor:pointer;}

.quantity.buttons_added .minus {
 background: red;
 border-right: 0; }

.quantity.buttons_added .plus {
 background: green;
 border-left: 0; }

.quantity.buttons_added .minus:hover {
 background: #a54c4b; 
}

.quantity.buttons_added .plus:hover {
 background: #4ba54e; 
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 -moz-appearance: none;
 margin: 0; }
 
 .quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
 outline: none; }


@media screen and (max-width: 1025px){
  .req{
  height: 350px;
  } 
  .main {
    height:568px;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 769px){
  .req{
  height: 250px;
  } 
  .main {
    height:568px;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 426px){
  .req{
  height: 220px;
  } 

  .main {
    height:568px;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 376px){
  .req{
  height: 200px;
  } 
  .main {
    height:568px;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 321px){
  .add {
    font-size: .85em;
  }
  th {
    font-size: .85em;
  }
  .req{
  height: 160px;
  } 
  .main {
    height:568px;
    overflow-y: scroll;
  }
}
@media screen and (min-height: 568px){
  .main {
    overflow-y: scroll;
  }
}

.tfoot-bgcolor,.font-text{
  background-color: #C0C0C0;
  font-weight: bold !important;
}
.font-text-amt{
  background-color: #ffff00;
  font-weight: bold !important;
}
.o-btn{
  padding: 4% 11% !important;
}

.Fname {
  width: 50%;
 cursor: pointer !important;
}
