#bg-color{
  background: #ffa31a;
}

.topnav a {
  text-decoration: none;
}

.topnav a:hover{
  background-color: #ffff1a;
}

.topnav .active {
  background-color: #e6e600;
  color: black;
}

.left {
  width: 72%;
  float: left;
  padding: 10px;
}

.right {
  width: 28%;
  float: right;
}

.add {
  background-color: #ff5c33;
  border: none;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 10px 2px;
  cursor: pointer;
}
.add-food {
  background-color: #29AB27;
  border: none;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 10px 2px;
  cursor: pointer;
}
.edit-food {
  background-color: #27AEE3;
  border: none;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 10px 2px;
  cursor: pointer;
}

.delete-food {
  background-color: #86888A;
  border: none;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 10px 2px;
  cursor: pointer;
}

.main {
  position: fixed;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  background: none;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

.t-cust{
  width: 100%;
  height: auto;
  max-height: 60%;
  background: #f2f2f2;
  overflow-y: auto;
  overflow: -moz-scrollbars-none; 
  -ms-overflow-style: none;
}

.t-cust::-webkit-scrollbar { 
  width: 0 !important 
}

.t-cust th {
  width: 33.33%;
}

.t-title {
  width: 100%;
}

.t-title th {
  width: 33.33%;
}

#custname {
  width: 40%;
}

.title {
  height: 10%;
}

.title h1{
  margin: 0;
}

.search  {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
} 
.search-btn-light {
  padding: 13px;
  margin-bottom: 15px;
  width: 100px;
} 

 table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  font-size: 1em;
  padding: 8px;
  border-style: solid;
  border-width: 0 0 2px 0;
  font-weight:lighter;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr{background-color: #f2f2f2;}

/* The Close Button */
.close {
  padding: 2%;
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 10px;
  background-color: #ffd11a;
  color: black;
  text-align: left;
}
.modal-header h2 {
  font-size: 1.5em;
}
/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 1px 16px;
  background-color: #ffe680;
  color: black;
}

/* Modal Content */
.modal-content {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: auto; /* Full width */
  height: auto; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #fefefe;
  margin: 15% auto;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-backdrop {
  z-index: -1;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.reg input{
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
}
.submit {
  margin-top: 5%;
  font-weight: bold;
  font-size: 1em;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  background-color: #4CAF50;
}

.delete {
  margin-top: 5%;
  font-weight: bold;
  font-size: 1em;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  background-color: red;
}

.save {
  margin-top: 5%;
  font-weight: bold;
  font-size: 1em;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  background-color: blue;
}

.regbox {
  margin:auto;
  position: relative;
  width: 100%
  vertical-align: center;
  background: white;
  max-width: 400px;
  padding: 45px 20px 35px 20px;
  text-align: center;
  text-align: center;
}
.msg-bg-color .close {
    margin-top: -12px !important;
}

@media screen and (max-width: 1025px){
  .modal-content {
    margin: 15% 30%;
  }
  .left input {
    padding: 10px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 769px){
  .modal-content {
    margin: 15% 20%;
  }
}

@media screen and (max-width: 426px){
  .modal-content {
    margin: 15% auto;
  }
  .left input {
    padding: 10px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 320px){
  .title h1{
    font-size: 2.2em;
  }
  .left{
    width: 68%;
  }
  .right{
    width: 32%;
  }
}
@media screen and (max-width: 290px){
  .title h1{
    font-size: 1.2em;
  }
}